@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

body {
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  background-color: #eee;
}

h6.show-repo-details {
  cursor: pointer;
}

div.no-repos > h3.no-repos-found, h3.repos-found{
  text-align: center;
  font-size: 1em;
}

div.repos-content {
  margin: 3%;
}

ul.pagination {
  margin-left: 2%;
}

h3.title-issue {
  margin:0;
}

table[id^="table-issue"],
table[id^="table-pull"] {
  width: 100%;
}

table[id^="table-issue"] td,
table[id^="table-pull"] td {
  padding-bottom: 2%;
  border-bottom: 1px solid #ddd;
}

table[id^="table-issue"] tr:hover,
table[id^="table-pull"] tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
